---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Imagecard from "../../components/imagecard.astro";
import Image from "astro/components/Image.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("services");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the current blog entry and related blogs
const { entry } = Astro.props;
const blogs = await getCollection("services");
const OtherServices = blogs.filter(blog => blog.slug !== entry.slug).slice(0, 3);
const { Content } = await entry.render();

---
<BlogLayout bgClasses={'bg-black text-white sticky'}>
  <div class="wrapper-container">
    <!-- Banner Image Section -->
    <div class="relative w-[900px] max-w-full h-[300px] m-auto">
      <Image
        src={entry.data.image}
        alt="Banner Image"
        class="absolute inset-0 w-[300px] m-auto h-full bg-cover bg-center bg-no-repeat"
      />
    </div>

    <div class="w-[700px] max-w-full mt-4 m-auto">
      <h1 class="text-[var(--primary-orange)] text-3xl font-bold mb-2">{entry.data.title}</h1>
      <p class="text-lg text-gray-600 mb-6">{entry.data.description}</p>
      
      <div class="custom-content-wrapper prose prose-lg text-gray-800">
        <Content />
      </div>

    </div>
    <div class=" flex flex-wrap justify-start gap-4 mx-auto my-8">

      {OtherServices.map(blog => (
        <Imagecard title={blog.data.title} image={blog.data.image} link={`/services/${blog.slug}`} desc={blog.data.description}  />
      ))}
    </div>
  </div>
</BlogLayout>

