---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogPage from "../../assests/blogpage.png";
import Imagecard from "../../components/imagecard.astro";
import Banner from "../../components/banner.astro";
const services = await getCollection("services");
const { pathname: currentPath } = Astro.url;
---

<BlogLayout title="Services">
  
<Banner title="Services" {currentPath} img={BlogPage}/>

    <div class="wrapper-container justify-evenly items-center m-4 flex flex-wrap gap-3">
      {
        services.map((service) => (
          <Imagecard
            link={`/services/${service.slug}`}
            img={service.data.image}
            desc={service.data.description}
            title={service.data.title}
          />
        ))
      }
    </div>
  
</BlogLayout>
